@charset "utf-8";

*{background-color: #edecf1; font-family: Verdana, Geneva, sans-serif; color: DimGrey; word-wrap: break-word;}

h1#main, nav {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}

h1, h2, h3, p, blockquote {
  margin-right: 27%;
}

h1 {text-indent: 35px;}

h2 {text-indent: 65px;}

h3 {text-indent: 95px;}

blockquote {margin-left: 125px;}

p {text-indent: 30px; margin-left: 95px; z-index: 1;}

footer {margin-left: 20%;}
footer h1 { margin-left: 9%;}

.anchor { padding-top: 30px; }

header {

  height: 36px;
  top: 0px;
  left: 0px;
  background-color: #b8a4a1;
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  z-index: 6;

}

header a {text-decoration: none; background-color: inherit; transition: color .5s ease-in-out;}

header a:hover {color: black;}

header h1 {font-size: 20px; display: inline; background-color: inherit;}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 20%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  right: 0px;
  overflow: auto;
}

li {
  text-align: center;
  display: block;

  list-style-type: none;
  margin-left:0;
  margin-right: 0;
  line-height: 20%;
  width: 100%;
  height: 20%;
  opacity: 1;
  background-color: inherit;
  transition: opacity 5s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

li:hover {opacity: 0.8}


li a {
  text-decoration: none;
  margin: auto;
  line-height: 5;
  color: black;
  font-size: 30px;
  background-color: inherit;
}

li#in_use{background-color: #d7cec7;}
li#events{background-color: #b8a4a1;}
li#botm{background-color: #e5b085;}
li#gallery{background-color: #C08C83;}
li#news{background-color: #7c6a67;}
li#news a {color:white;}

#main {width: 100%; height: 100%; }

#home h1{
  display: block;
  font-size: 200px;
  margin-right: 20%;
  margin-top: -20px;
  margin-bottom: 20px;
  height: 760px;
  left: 0px;
  color: black;
  background-image: url(books2.jpg);
  background-size: cover;
  overflow: hidden;

  width: 79%;
  z-index: 5;
}

div#main h2, div#main p {
  left: 0px;
}

#eventsPage, #botmPage, #galleryPage, #newsPage { margin-top: 50px;}

iframe {margin-left:30%;}

#galleryPage img {margin-left: 15%;}

/*Animations TEST*/

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
